<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.group.mapper.TestMapper">
    <resultMap id="userMap" type="com.group.model.Test">
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="patternLock" column="patternLock"/>
    </resultMap>
    <select id="selectUsers" resultMap="userMap">
        SELECT * FROM U
    </select>
</mapper>
